body {
  background-color: #1f2024;
}
.canvas {
  background-color: #ffffff;
  margin: auto;
  margin-top: 4em;
}

#container {
  text-align: center;
}

footer {
  text-align: center;
  width: 98%;
  margin: auto;
}
footer > a {
  color: #e6844f;
  text-decoration: none;
  cursor: pointer;
  margin-top: 4em;
  display: block;
}

footer > a:hover {
  text-decoration: underline;
}
